.conteiner-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.counry-name {
  text-align: center;
}

.information {
  margin-right: 50px;
}

.img {
  border: 1px solid black;
}

.type {
  font-weight: bold;
}
